.ant-pagination{
        background:#b1a21e;
        border-radius: 1rem;
        .ant-select-selector{
            display:none;
        }
        .ant-pagination-options{
            display:none;
        }
}